                        Idea, Planning and
        ІПЗ             Project Infrastructure
                        ЛАБОРАТОРНА РОБОТА I
каф. ЕОМ, ХНУРЕ, 2025
       ■   Мета роботи
           Використання моделі SDLC при плануванні програмного забезпечення,
           формування ідеї та розгортання інфраструктури проекту
       ■   Теми та техніки що використовуються
       ■   формування команди
       ■   життєвий цикл програмного забезпечення
       ■   формування ідеї проекту та його планування
       ■   розгортання інфраструктури проекту
2025   каф. ЕОМ, ХНУРЕ                                                    7
       ■   Технічне завдання
       ■   Сформувати команду з 2-4 осіб
       ■   Визначити потреб користувачів, які будуть задовольнятися вашим проектом,
           або обрання концепції проекту з переліку, що буде описано нижче
       ■   Сформувати перелік ідей, обговорити їх командою, обрати
           та зафіксувати головну ідею проекту
       ■   Визначити типового користувача вашого проекту (опис параметрів надано нижче)
       ■   Визначити 2-3 існуючі успішні проекти з обраної вашою командою сфери
       ■   Сформувати перелік переваг та недоліків обраних успішних проектів
       ■   Сформувати перелік основних функціональних можливостей вашого проекту
       ■   Визначити мову програмування для створення проекту (С++, C#, Java, JS)
       ■   Формування концепту графічного інтерфейсу користувача
2025   каф. ЕОМ, ХНУРЕ                                                                    8
       ■   Характеристики типового користувача
       ■   Вік
       ■   Стать
       ■   Локація - країна, де знаходиться клієнт
       ■   Спроможність платити за використання проекту / користувач freemium проектів
       ■   Час, який користувач може / має проводити у проекті для задоволення своїх потреб
       ■   Нормальна / бажана кількість сесій клієнта у проекті за тиждень
2025   каф. ЕОМ, ХНУРЕ                                                                        9
       ■   Розгортання інфраструктури проекту
       ■   Реєстрація репозиторію на команду та викладача;
       ■   Створення папки на Google Drive з документацією до проекту, надання
           до неї доступу для членів команди та викладача;
       ■   Формування у папці проекту на Google Drive документу(ів) з описом ідеї проекту,
           потреб користувачів, які задовольняє проект, профілю типового користувача,
           переліку головних задач до проекта, обраною методологією розробки,
           та надання до нього доступу для членів команди і викладача;
       ■   Реєстрація у Trello, формування командної дошки, надання до неї доступу
           для членів команди та викладача;
       ■   Формування у папці проекту на Google Drive презентації з концепцією графічного
           інтерфейсу користувача проекту (основні вікна та переходи між ними)
2025   каф. ЕОМ, ХНУРЕ                                                                       10
       ■   Технічні вимоги
       ■   Проект має бути клієнт-серверним додатком із базою даних
       ■   Для репозиторію використовується одна з технологій: bitbucket / gitlab / github
       ■   Для ведення технічної документації використовується Google Docs або Google Sheets
       ■   Методологія розробки: Kanban / Waterfall / Incremental
       ■   Таск- та баг-трекінгова система: Trello
       ■   Система прототипування графічного інтерфейсу користувача: Google Slides
2025   каф. ЕОМ, ХНУРЕ                                                                         11
       ■   Варіант 3.Потреби користувачів: пошук вакансій на роботу розміщення вакансій компаніями